table, tr, td {
    margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 25px;
}

tr, td {
    width: 40px;
    height: 40px;
}

button {
    margin: 20px calc((100vw - 140px)/2);
    padding: 0 40px;
    font-weight: 800;
    height: 50px;
    width: 130px;
    line-height: 50px;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    border: 2px solid darkgrey;
}

.checked {
    background-color: #c2e7ff;
}